form, .controls {
    float: left;
    width: 50%;
}

.form:before {
    content: attr(class);

    display: inline-block;
    margin-bottom: 30px;
    padding: 15px;

    background-color: steelblue;
    color: white;
    font-weight: bold;
}

.btn--controls .btn {
    padding: 6px 10px;
}

